div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-sm-4
    .col-sm-4
      img.img-circle.img-lrg.img-center(src='{{user.profilePictureURL}}')
      hr
      form.form(name='form', ng-submit='updateSettings(form)', novalidate='')
        .form-group
          label Profile Picture
          input(type='file', name='profilePicture', file-model='user.profilePictureURL', required='')
        .form-group
          label Name
          input.form-control(type='text', name='name', ng-model='user.name', placeholder='{{user.name}}')
        .form-group(ng-if='local | isNotEmpty')
          label Email
          input.form-control(type='text', name='email', ng-model='user.email', placeholder='{{user.email}}')
        
        p(ng-hide='facebook | isEmpty')
          label facebook connected

        p(ng-hide='twitter | isEmpty')
          label twitter connected
        p
          button.btn.btn-default.btn-small(type='submit') Save Changes

        p.success-text(ng-hide='profileSuccess | isEmpty')
          | {{profileSuccess.message}}
        p.error-text(ng-repeat='error in profileErrors', ng-hide='profileErrors | isEmpty')
          | {{error.message}}
      hr

      form.form(name='form', ng-submit='changePassword(form)', ng-if='local | isNotEmpty')
        .form-group
          label Old Password
          input.form-control(type='password', name='password', ng-model='user.oldPassword')
        .form-group
          label New Password
          input.form-control(type='password', name='password', ng-model='user.newPassword')
        p
          button.btn.btn-default.btn-small(type='submit') Change Password
        p.success-text(ng-hide='passwordSuccess | isEmpty')
          | {{passwordSuccess.message}}
        p.error-text(ng-repeat='error in passwordErrors', ng-hide='passwordErrors | isEmpty')
          | {{error.message}}

div(ng-include='"components/footer/footer.html"')