div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      form.form(name='form', ng-submit='sendPasswordMail(form)', novalidate='')
        .form-group
          label Email
          input.form-control(type='text', name='email', ng-model='email')
        div
          button.btn.btn-inverse.btn-lg.btn-login(type='submit')
            | Send Mail