div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-4
    .col-sm-4
      form.form(name='form', ng-submit='sendPasswordMail(form)', novalidate='')
        .form-group
          // Verify that email actually exists.
          label Email
          input.form-control(type='text', name='email', ng-model='email')
        div
          button.btn.btn-default.btn-small.btn-login(type='submit')
            | Send Mail
      p.success-text(ng-if='emailSent')
        | Email successfully sent.