div.mainup
  div(ng-include='"components/navbar/navbarfront.html"')

  header#banner.hero-unit
    .container
      .row#banner-new
        .col-sm-12
          h1 subbly.tv
          h4 Subscribe to support and watch original shows.
          a(href='/discover')
            button.btn.btn-default.btn-lg
              | Discover Shows

.container.mainbg
  .row
    .col-sm-7.pad-right-lrg
      h3
        | Discover Fresh Pitches and Pilots
      .row
        img.img-rounded.img-fill(src='{{poppitch.projectPictureURL}}')
        h4
          a(href='/project/{{poppitch._id}}')
            | {{poppitch.title}}
        p
          | {{poppitch.tagline}}
        h1
          {{poppitch.makes}}
        p
          | want this made
        p
          button.btn.btn-default
            span.glyphicon.glyphicon-heart.pad-right-sm
            | Make it!
      .row
        .col-sm-8
          p
            | created by 
          p
            strong
              | {{poppitch.user.name}}
        .col-sm-4
          img.img-circle.img-sm(src='{{poppitch.user.profilePictureURL}}')

    .col-sm-5
      h1
        | How to be Subbly.
      ul.list-item
        li
          p
            | Watch video pitches and pilots of upcoming projects
        li
          p
            | Subscribe to support its production of more videos
        li
          p
            | Stream videos on-site and ad-free
      hr
      h1
        | Why be Subbly?
      p
        | You instinctually crave original content and want to support the creators who make them.  Subbing your favorite creators and their videos supports their production, giving them the flexibility and resources to continue making high quality original content.
      p
        a(href='/about')
          | Read more...
// TODO: refactor into .scss
footer.footer(style='margin:0px')
  .container
    p
      a(href='/about') About
      = ' | '
      a(href='/contact') Contact
      = ' | '
      ©2015 ognu.tv, All Rights Reserved
  