div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-3
    .col-md-6
      h4.center
        | Bringing originality back...
      p
        | At subbly.tv we believe in bringing original content back into our lives, and supporting the creators who have the passion to create these videos.
      p
        | Having made my own videos, I know the struggles of trying to start my own projects. From writing a script to getting a crew and actors, and praying that it all gels together in editing.  It's hard enough to make high quality content, let alone needing to scrap together friends and various crowdfunding websites to finance the project.  Most independent creators are on a tight budget while still trying to maintain a decent living.  As a result many great stories are left to die.  We believe that there is no shortage of great stories out there and want to ensure that as many of them come to life as possible.
      p
        | We think audiences instinctually crave more original content.  However great content usually comes at a price, and we think audiences understand that, and are willing to pay for content that is great and original.  Subscribing to videos empowers the audience to make a difference by influencing which shows come to fruition.  Taking back into their own hands what should be made, instead of allowing the industry to decide.  This is our opportunity to support the creation of original content directly and to really make a change for good in the way we produce and consume videos online today.

div(ng-include='"components/footer/footer.html"')