div(ng-include='"components/navbar/navbar.html"')
.container  
  .row
    .col-sm-12
      .row
        .col-sm-12
          h1 {{pitch.title}}
          p {{pitch.tagline}}
      .row
        .col-sm-8
          iframe(width='100%', height='400px', src='{{pitch.episodes[0].youtubelink | trustAsResourceUrl}}', frameborder='0', allowfullscreen)
        .col-sm-4
          h3 {{pitch.episodes[0].title}}
          p
            | Episode: {{pitch.episodes[0].index}}
          p
            | {{pitch.episodes[0].description}}
          hr
          .row
            h1
              | {{pitch.subscriberCount}}
            p
              | are subbing this
            // TODO: make this a modal pop up
            button.btn.btn-default
              span.glyphicon.glyphicon-heart.pad-right-sm
              | Subscribe!
          hr
          .row
            .col-sm-8
              p
                | created by 
              p
                strong
                  | {{user.name}}
            .col-sm-4
              img.img-circle.img-sm(src='{{user.profilePictureURL}}')
      hr
      .row
        .col-sm-12
          h3 Episodes
          ul.list-unstyled(ng-repeat='episode in pitch.episodes')
            li.col-sm-4.margin-bottom-sm(style="height:200px; overflow:hidden")
              p
                img.img-rounded.img-sm-h.img-center(src='{{episode.projectPictureURL}}')
              p
                | {{episode.index}}. {{episode.title}}
              p
                | {{episode.description}}
        
      hr
  hr