div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-4
    .col-sm-4
      form.form(name='form', ng-submit='resetPassword(form)', novalidate='')
        .form-group
          label New Password
          input.form-control(type='text', name='newPassword', ng-model='newPassword')
        div
          button.btn.btn-default.btn-small.btn-login(type='submit')
            | Reset Password