div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12.center
      .btn-group(role='group', aria-label='...')
        button.btn.btn-default(ng-click='showEditProject()')
          | Edit Project
        button.btn.btn-default(ng-click='showEditDescription()')
          | Edit Description
        button.btn.btn-default(ng-click='showPreview()')
          | Show Preview

      //button.btn.btn-default(type='submit')
      //  | Pitch it!
  hr
  .row(ng-show='editProject')
    .col-sm-3
    .col-sm-6
      form.form(name='form', ng-submit='pitchit(form)', novalidate='')
        table.table
          tr
            td
              label Title
            td
              .form-group
                input.form-control(type='text', name='title', ng-model='pitch.title', ng-maxlength='256')
          tr
            td
              label Tagline
            td
              .form-group
                input.form-control(type='text', name='tagline', ng-model='pitch.tagline', ng-maxlength='256')
          tr
            td
              label Project Picture
            td
              .form-group
                img.img-rounded.img-lrg(src='{{profilePictureURL}}')
                input(type='file', name='projectPictureURL', file-model='pitch.projectPictureURL', required='')
          tr
            td
              label Youtube Link
            td
              .form-group
                input.form-control(type='text', name='youtubelink', ng-model='pitch.youtubelink')
          tr
            td
              label Genres
            td
              .form-group  
                input.form-control(type='text', name='genres', ng-model='pitch.genres')
  .row(ng-show='editDescription')
    .col-sm-3
    .col-sm-6.center
      form.form(name='form', ng-submit='pitchit(form)', novalidate='')
        .form-group
          textarea.form-control(rows='20', name='description', ng-model='pitch.description')
  .row(ng-show='preview')
    .col-sm-2
    .col-sm-8
      .row
        h1.center {{previewPitch.title}}
      .row
        p.center {{previewPitch.tagline}}
      hr
      .row
        .col-sm-12
          iframe(width='100%', height='500px', src='{{previewPitch.youtubelink | trustAsResourceUrl}}', frameborder='0', allowfullscreen)
      hr
      .row
        .col-sm-8.pitchpad
          h3 The Pitch
          p
            | {{previewPitch.description}}
        .col-sm-4
          .row
            img.img-rounded.img-fill(src='{{previewPitch.profilePictureURL}}')
          hr
          .row
            a(href='#')
              span.glyphicon.glyphicon-heart  Make it!
          hr
          .row
            .col-sm-8
              p
                | created by 
              p
                strong
                  | {{user.name}}
            .col-sm-4
              img.img-circle.img-sm(src='{{user.profilePictureURL}}')
        
      hr